@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Your theme settings */
}

html, body, :where(*, *::before, *::after) {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}